In [3]:
import sys
import os

sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..')))

Imports and Setup

In [4]:
import seaborn as sns
from edazer import Edazer

# Load the 'tips' dataset
tips = sns.load_dataset('tips')
eda = Edazer(tips, name="tips")

Check repr

In [5]:
print(repr(eda))

Analyzer for the DataFrame: tips

Lookup Methods

In [12]:
# Head
print("Head:")
eda.lookup("head")

# Tail
print("Tail:")
eda.lookup("tail")

# Sample
print("Sample:")
eda.lookup("sample")

Head:

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

Tail:

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

Sample:

    total_bill   tip   sex smoker  day    time  size
10       10.27  1.71  Male     No  Sun  Dinner     2

Columns with dtype

In [8]:
print("Float columns:", eda.cols_with_dtype(['float']))
print("Category columns:", eda.cols_with_dtype(['category']))

Float columns: Index(['total_bill', 'tip'], dtype='object')
Category columns: Index(['sex', 'smoker', 'day', 'time'], dtype='object')

Show unique values

In [9]:
eda.show_unique_values(column_names=['sex', 'smoker', 'day'], max_unique=10)

sex: ['Female', 'Male']
smoker: ['No', 'Yes']
day: ['Sun', 'Sat', 'Thur', 'Fri']

[] have more than 10 unique values. Set it to a higher Value

Summarize DataFrame

In [10]:
eda.summarize_df()

DataFrame Info:
-------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

None

DataFrame Description:
-------------------------

,count,mean,std,min,25%,50%,75%,99%,max
total_bill,244.0,19.785943,8.902412,3.07,13.3475,17.795,24.1275,48.2270,50.81
tip,244.0,2.998279,1.383638,1.00,2.0000,2.900,3.5625,7.2145,10.00
size,244.0,2.569672,0.951100,1.00,2.0000,2.000,3.0000,6.0000,6.00

Number of Null Values:
-------------------------

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

Number of Duplicated Rows:
-------------------------

1

Number of Unique Values:
-------------------------

total_bill    229
tip           123
sex             2
smoker          2
day             4
time            2
size            6
dtype: int64

DataFrame Shape:
-------------------------
No. of Rows:    244
No. of Columns: 7